/*Universal Styling.*/

:root {
    --green: #1f8b55;
    --yellow: #f4e858;
}

* {
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	margin: 0;
}

colored-dot { /*Found in the h1 of the first section.*/
	color: var(--yellow);
	font-size: 100%;
}

/*Individual Body Styling begins....*/

.first img {
	width: 100%;
}


.contact{
	margin: 0;
	padding: 0 5% 5%;
	overflow: hidden;
	text-align: center;
}
.contact h1 {
	color: var(--green);
	font-size: 180%;
}
.contact .flex {
	display: flex;
}

.contact .flex div {
	flex: 50%;
}
.contact .flex .left {
	width:584px;
	height: 584px;
	background-image: url('../home-img/contact-img-left-bg.png');
	background-size: 100%;
}
.contact .flex .left h1 {
	margin: 40% 0 0 0;
	font-size: 200%;
	color: black;
}
.contact .flex .left a {
	color: var(--green);
	padding: 0 5%;
}
.contact .flex .right {
	padding: 0 5% 5% 5%;
	text-align: left;
	background-color: #fafafa;
}
.contact .flex .right h1 {
	font-size: 200%;
	margin: 10% 0 0 0;
	color: black;
}
.contact .flex .right h3 {
	margin: 0 0 5% 0;
}
.contact .flex .right input {
	border: none;
	border-radius: 5px;
	width: 100%;
	height: 3em;
	background-color: #f0f0f0;
	padding: 0 0 0 2%;
}
.contact .flex .right input[name="message"] {
	height: 10em;
}
.contact .flex .right button {
	background-color: var(--green);
	color: white;
	width: 30%;
	border-radius: 5px;
	height: 3em;
	cursor: pointer;	
	font-size: 80%;
	font-weight: 600;
	margin: 0 0 0 35%;
}

@media (max-width: 800px) {
	.contact h1 {
		font-size: 160%;
	}
	.contact {
		padding: 0;
	}
	.contact .flex{
		display: block;
	}
	.contact .flex .left {
		display: none;
	}
	.contact .flex .right {
		flex: none;
		padding: 2% 5%;
	}
	.contact .flex .right button {
		width: 40%;
		margin-left: 30%;
	}
}