/*Universal Styling.*/

:root {
    --green: #1f8b55;
    --yellow: #f4e858;
}

* {
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	margin: 0;
}

colored-dot { /*Found in the h1 of the first section.*/
	color: var(--yellow);
	font-size: 100%;
}

/*Individual Body Styling begins....*/
.first {
	padding: 10% 0 15% 5%;
	background-image: url('../gallery-img/hero-image-bg.svg');
	margin: 0 0 10% 0;
	background-size: 100%;
	background-repeat: no-repeat;
}

.first h1 {
	font-weight: 800;
	font-size: 250%; 
	margin: 0 50% 2% 0;
	color: white;
}

.first button {
	width: 10%;
	height: 3em;
	background-color: var(--yellow);
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-size: 80%;
	font-weight: 600;
}

.first span {
	padding: 0 3%;
	color: white;
}
.first i {
	font-size: 200%;
	margin:0;
	padding: 0 0.2em 0 0;
	color: var(--green);
}


.grid {
	padding: 0 5% 10% 5%;
	display: grid;
	grid-row: 1;
	grid-template-columns: 65% 65%;
	grid-gap: 5%;
	grid-column-gap: 3%;
}

#img-4 {
	margin: 0 0 0 -52%;
	width: 103%;
	height: 100%;
}
#img-5 {
	grid-template-columns: 100%;
	width: 156%;
}

@media (max-width:800px) {
	.first {
		background-size: cover;
		text-align: center;
	}
	.first h1 {
		font-size: 160%;
		margin: 0 25%;
	}
	.first button {
		width: 30%;
		margin-right:0;
	}
	.first span {
		display: block;
	}
	.grid {
		display: block;
		padding: 0;
	}
	.grid img {
		margin: 2.5% 0;
		width: 100%;
	}
	#img-4 {
		margin: 0;
		width: 100%;
	}
	#img-5 {
		width: 100%;
	}
}