nav {
	padding: 2% 5% 0;
	background-color: #f0f0f0;
	overflow: hidden;
	color: var(--green);
}

nav img {
	float: left;
	padding: 0 20% 0 0;
}
nav span#menu-icon {
	display: none;
}
nav a#close-menu {
	display: none;
}
nav h3 {
	display: inline-block;
	padding: 0 2.5% 0 0; 
	cursor: pointer;
}
nav .contact-icons {
	overflow: hidden;
	margin: 0 0 0 45%;
	border-bottom: 0.2em solid var(--yellow);
}
nav .social-media-icons {
	float: right;
	display: flex;
	margin: 3% 6% 0 0;
}
nav .social-media-icons a{
	cursor: pointer;
	color: var(--green);
	flex: 25%;
	padding: 0 10%;
}
nav ul {
	display: flex;
}

nav ul li {
	flex: 16.67%;
	padding: 0 5% 0 -5%;
	margin: 2% 0 0 0;
} 
nav ul li a {
	color: var(--green);
	font-weight: bold;
}

nav ul li a:active, nav ul li a:hover {
	font-weight: 800;
}

nav button {
	color: white;
	width: 100%;
	height: 2.5em;
	background-color: var(--green);
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	margin: -8% 0 0 0;
}

@media (max-width: 800px) {
	nav img {
		padding-right: 100%;
	}
	nav span#menu-icon {
		display: block;
		position: fixed;
		z-index: 1;
		right: 0;
		top: 5%;
		font-size: 200%;
	}
	nav a#close-menu {/*still remains display:none; will be changed with javascript.*/
		position: fixed;
		z-index: 1;
		right: 0;
		top: 5%;
		font-size: 200%;
		color: var(--green);
	}
	nav div.contact-icons {
		display:none;
	}	
	nav ul {
		display: none;
		/*display: grid;*/ /*(the display:grid is activated with javascript)*/
		place-items:center;
	}
	nav ul li {
		display: block;
	}
}