@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    right: 0;
}
header{
    background: url(images/aboutheader.png) center;
    background-repeat: no-repeat;
    height: 885px;
}
#serviceHeader{
    background: url(images/serviceheader.png) center;
    background-repeat: no-repeat;
    height: 885px;
}
header h1{
    position: absolute;
    width: 635px;
    height: 305px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #F7F7F7;
    top: 248px;
    left: 122px;
}
#serviceHeader h1{
    width: 635px;
    height: 305px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 61px;
    color: #F7F7F7;
} 
.servicehead{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 284px;
    height: 118px;
    margin: auto;
    /* left: 600px; */
    top: 40px;
}
.servicehead p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #333333;
}
.servicehead .wht{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #01A453;
}
#serviceflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#serviceflex .offer1{
    position: relative;
    /* left: 122px; */
    top: 50px;
    width: 350px;
    height: 429px;
    background: #F7F7F7;
    border-radius: 12px;
}
#serviceflex .offer1 h5{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #017D3F;
}
#serviceflex .offer1 p{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}
#off{
    margin-top: 80px;
}
#serviceflex .offer1 .offernum{
    position: absolute;
    right: 31px;
    top: -85px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 110px;
    /* identical to box height */
    color: rgba(240, 224, 33, 0.2);
}
.flexbutton{
    display: flex;
}
header button{
    display: flex;
    flex-direction: row;
    padding: 20px 32px;
    position: relative;
    background: #F4E858;
    border-radius: 5px;
    top: 576px;
    left: 122px;
    text-align: center;
    border: none;
}
header #circle{
    position: absolute;
    display: flex;
    width: 60px;
    height: 60px;
    top: 576px;
    left: 344px;
}
header span{
    position: absolute;
    width: 108px;
    height: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #F7F7F7;
     top: 593px;
    left: 416px;
    margin-left: 10px;
}
#numLink{
    text-decoration: none;
    font-family: Montserrat; 
}
 .num1{
    /* position: absolute; */
    width: 18px;
    height: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #999999;
    top: 342px;
    right: 123px;
    text-decoration: none;
}
.num2{
    /* position: absolute; */
    width: 18px;
    height: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #F7F7F7;
    top: 432px;
    right: 123px;
    text-decoration: none;
}
 .num3{
    /* position: absolute; */
    width: 18px;
    height: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #999999;
    top: 522px;
    right: 123px;
    text-decoration: none;
}
#section1 .backPic{
    position: absolute;
    width: 427px;
    height: 598px;
    top: 1176px;
    left: 122px;
    border-radius: 12px;
}
#section1 .frontPic{
    position: absolute;
    width: 546px;
    height: 753px;
    border-radius: 12px;
    top: 1098px;
    left: 286px;
}
#section1 .aboutSide p{
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #333333;
}

#section1 .aboutSide #who{
    position: absolute;
    width: 240px;
    height: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
   color: #01A453;
   top: 1120px;
}
#section1 .aboutSide #longText{
    position: absolute;
    width: 464px;
    height: 154px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    text-align: justify;
    color: #242424;
    top: 1200px;
}


#section2{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    top: 1010px;
    position: relative;
    flex-wrap: wrap;
}
#section2 .vision{
    flex-basis: 30%;
    justify-content: space-between;

}
.mission{
    flex-basis: 30%;
    justify-content: space-between;
}
#section2 .vision .longtext2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */   
    text-align: center;   
    color: #242424;
}
#section2 .mission .longtext3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    text-align: center;
    color: #242424;
}
#section2 .vision .ourv{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    /* identical to box height */
    color: #01A453;
}
#section2 .mission .ourm{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    /* identical to box height */
    color: #01A453;
}
#section2 .vision p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #333333;
}
#section2 .mission p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #333333;
}
#servicevideo{
    position: relative;
    display: flex;
    justify-content: center;
    top: 305px;
}
#video{
    position: relative;
    display: flex;
    justify-content: center;
    top: 1185px;
}
#servicenumbers{
    position: relative;
    top: 408px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 30%;
}
#numbers{
    position: relative;
    top: 1288px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 30%;
}
#servicefooter{
    position: relative;
    display: flex;
    top: 600px;
    bottom: 0;
    background: #017D3F;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer{
    position: relative;
    display: flex;
    top: 1500px;
    bottom: 0;
    background: #017D3F;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer .icon{
    padding: 50px;
}
footer .icon p{
    width: 249px;
    height: 80px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #F7F7F7;
}
.icons{
    display: flex;
    justify-content: space-between;
    color: #F7F7F7;
}
.company{
    padding-top: 100px;
}
footer h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    /* identical to box height */
    color: #FFFFFF;
}
footer ul{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #EEEEEE;
}
footer a{
    text-decoration: none;
    color: #EEEEEE;
}
.services{
    padding-top: 100px;
}
.contact{
    padding-top: 90px;
}
@media (min-width: 1200px){

    .num1{
        position: absolute;
        width: 18px;
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        color: #999999;
        top: 342px;
        right: 123px;
        text-decoration: none;
    }
    .num2{
        position: absolute;
        width: 18px;
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        color: #F7F7F7;
        top: 432px;
        right: 123px;
        text-decoration: none;
    }
     .num3{
        position: absolute;
        width: 18px;
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        color: #999999;
        top: 522px;
        right: 123px;
        text-decoration: none;
    }
    #section1 .aboutSide p{
        position: absolute;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        color: #333333;
        top: 1098px;
        left: 852px;
    }
    #section1 .aboutSide .corn{
        position: absolute;
        top: 1137px;
        left: 852px;
    }
    #section1 .aboutSide #who{
        position: absolute;
        width: 240px;
        height: 44px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */
       color: #01A453;
       top: 1120px;
    }
    #section1 .aboutSide #longText{
        position: absolute;
        width: 464px;
        height: 154px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        /* or 137% */
        text-align: justify;
        color: #242424;
        top: 1200px;
    }
    #section1 .aboutSide .fresh{
        position: absolute;
        top: 1418px;
        left: 852px;
    }
    #section1 .aboutSide .farm{
        position: absolute;
        top: 1418px;
        right: 118px;
    }
    .linkUp{
        position: relative;
        display: flex;
        justify-content: space-evenly;
    }
}
@media (min-width: 996px) and (max-width: 1199px){
    .frontPic{
        display: none; 
    }
    .backPic{
        display: none;
    }
    #section1 .aboutSide{
        display: flex;
        justify-content: center;
       
    }
    #section1 .aboutSide #longText{
        text-align: center;
    }
    .corn{
        position: absolute;
        /* width: 160px;
        height: 11.28px; */
        top: 1130px;
    }
    .flexsvg{
        position: relative;
        display: flex;
        top: 500px;
        justify-content: space-around;
    }
    .fresh{
        margin: 20px;
    }
    .farm{
       margin: 20px;
    }
    #section1 .aboutSide p{
        position: absolute;
        top: 1090px;
    }
    #section2{
        display: flex;
        top: 700px;
    }
    #video{
        position: relative;
        top: 1005px;
    }
    #numbers{
        position: relative;
        top: 1128px;
    }
    
    footer{
        position: relative;
        display: flex;
        top: 1200px;
        
    }
    .linkUp{
        position: relative;
        display: flex;
        justify-content: space-evenly;

    }
    #numLink{
        position: relative;
        display: flex;
        /* flex-direction: row; */
        /* margin: 20px; */
        /* flex-basis: 50px; */
        justify-content: space-evenly;
        text-decoration: none;
        font-family: Montserrat; 
        top: 790px;
        /* right: -30px; */
    }
    #off3{
        margin-top: 80px;
    }
}
@media (min-width: 767px) and (max-width: 995px){
    #numLink{
        position: relative;
        display: flex;
        /* flex-direction: row; */
        /* margin: 20px; */
        flex-basis: 70%;
        justify-content: space-evenly;
        text-decoration: none;
        font-family: Montserrat; 
        top: 790px;
        /* right: -30px; */
    }
    .frontPic{
        display: none;
    }
    .backPic{
        display: none;
    }
    #section1 .aboutSide{
        display: flex;
        justify-content: center;
       
    }
    #section1 .aboutSide #longText{
        text-align: center;
    }
    .corn{
        position: absolute;
        /* width: 160px;
        height: 11.28px; */
        top: 1130px;
    }
    .flexsvg{
        position: relative;
        display: flex;
        top: 500px;
        justify-content: space-around;
    }
    .fresh{
        margin: 20px;
    }
    .farm{
       margin: 20px;
    }
    #section1 .aboutSide p{
        position: absolute;
        top: 1090px;
    }
    #section2{
        display: flex;
        top: 700px;
    }
    #video{
        position: relative;
        top: 1005px;
    }
    #numbers{
        position: relative;
        top: 1128px;
        justify-content: center;
    }
    #numbers .projects{
        flex-basis: 40%;
    }
    #numbers .customers{
        flex-basis: 40%;
    }
    #numbers .awards{
        margin-top: 20px;
        flex-basis: 40%;
    }
    #numbers .products{
        margin-top: 20px;
        flex-basis: 40%;
    }
    footer{
        position: relative;
        display: flex;
        /* flex-wrap: nowrap; */
        top: 1200px;
    }
    .linkUp{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        bottom: 150px;
    }
    .linkUp .company{
        margin: 20px;
    }
    .linkUp .services{
        margin: 20px;
    }
    .linkUp .contact{
        margin: 20px;
    }
    .icon p{
        display: none;
    }
}
@media (max-width: 766px){
    header h1{
        width: 324px;
        height: 185px;
        left: 30px;
        top: 247px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #F7F7F7;
        text-align: center;
    }
    #off2{
        margin-top: 80px;
    }
    #off3{
        margin-top: 80px;
    }
    #serviceHeader h1{
        width: 324px;
        height: 259px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #F7F7F7;
    }
    .flexbutton{
        display: flex;
    }
    header #circle{
        position: absolute;
        /* display: flex; */
        width: 60px;
        height: 60px;
        top: 666px;
        left: 120px;
    }
    header span{
        position: absolute;
        width: 108px;
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        color: #F7F7F7;
         top: 686px;
        left: 180px;
        margin-left: 10px;
    }
    #numLink{
        position: relative;
        display: flex;
        /* flex-direction: row; */
        /* margin: 20px; */
        flex-basis: 70%;
        justify-content: space-evenly;
        text-decoration: none;
        font-family: Montserrat; 
        top: 790px;
        /* right: -30px; */
    }
    .frontPic{
        display: none;
    }
    .backPic{
        display: none;
    }
    #section1 .aboutSide{
        display: flex;
        flex-basis: 90%;
        justify-content: center;
    }
    #section1 .aboutSide #longText{
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        /* or 157% */
        text-align: center;
        color: #242424;
        width: 370px;
        height: 176px;
    }
    .corn{
        position: absolute;
        /* width: 160px;
        height: 11.28px; */
        top: 1130px;
    }
    .flexsvg{
        position: relative;
        display: flex;
        top: 500px;
        justify-content: space-around;
    }
    .fresh{
        margin: 20px;
    }
    .farm{
       margin: 20px;
    }
    #section1 .aboutSide p{
        position: absolute;
        top: 1090px;
    }
    #section2{
        display: flex;
        top: 700px;
    }
    #video{
        position: relative;
        top: 1005px;
    }
    #numbers{
        position: relative;
        top: 1128px;
        justify-content: space-evenly;
    }
    #numbers .projects{
        flex-basis: 40%;
    }
    #numbers .customers{
        margin-top: 20px;
        flex-basis: 40%;
    }
    #numbers .awards{
        margin-top: 20px;
        flex-basis: 40%;
    }
    #numbers .products{
        margin-top: 20px;
        flex-basis: 50%;
    }
    #servicenumbers{
        position: relative;
        /* top: 1128px; */
        justify-content: space-evenly;
    }
    #servicenumbers .projects{
        flex-basis: 40%;
    }
    #servicenumbers .customers{
        margin-top: 20px;
        flex-basis: 40%;
    }
    #servicenumbers .awards{
        margin-top: 20px;
        flex-basis: 40%;
    }
    #servicenumbers .products{
        margin-top: 20px;
        flex-basis: 50%;
    }
    footer{
        position: relative;
        display: flex;
        /* flex-wrap: nowrap; */
        top: 1200px;
    }
    .linkUp{
        position: relative;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        bottom: 150px;
    }
    .linkUp .company{
        margin: 10px;
    }
    .linkUp .services{
        margin-top: -110px;
    }
    .linkUp .contact{
        margin-top: -110px;
    }
    .icon p{
        display: none;
    }
    
}